// fonts
$ff-regular: 'Inter-regular', sans-serif;
$ff-semibold: 'Inter-semibold', sans-serif;

//font sizes
$title-big: 36px;
$title-medium: 32px;
$title-small: 28px;

$subtitle-big: 24px;
$subtitle-medium: 20px;
$subtitle-small: 18px;

$text-big: 18px;
$text-medium: 16px;
$text-small: 14px;

// colors
$primary-color: #141b41;
$secondary-color: #306bac;
$light-color: #98b9f2;
$white-color: #ffffff;
$mid-color: #6f9ceb; 

$shadow: 0px 2px 10px 0px #00000036;

$br-small: 4px;
$br-medium: 8px;
$br-large: 10px;