@font-face {font-family: 'NunitoSans-regular'; src: url('/src/assets/fonts/NunitoSans_7pt-Regular.ttf');}
@font-face {font-family: 'NunitoSans-semibold'; src: url('/src/assets/fonts/NunitoSans_7pt-SemiBold.ttf');}

// fonts
$ff-regular: 'NunitoSans-regular';
$ff-semibold: 'NunitoSans-semibold';

//font sizes
$title-big: 36px;
$title-medium: 32px;
$title-small: 28px;

$subtitle-big: 24px;
$subtitle-medium: 20px;
$subtitle-small: 18px;

$text-big: 18px;
$text-medium: 16px;
$text-small: 14px;

// colors
$primary-color: #141b41;
$secondary-color: #306bac;
$light-color: #98b9f2;
$white-color: #ffffff;
$mid-color: #6f9ceb; 

$shadow-color: #00000036;

$shadow: 0px 2px 10px 0px $shadow-color;

$br-small: 4px;
$br-medium: 8px;
$br-large: 10px;

//padding
$btn-padding: 15px 30px;

//transition
$transition: all 0.3s ease;

$header-height: 80px;
$side: 80px;
$top: 40px;

.btn {
    font-family: $ff-semibold;
    font-size: $text-medium;
    border-radius: $br-small;
    padding: $btn-padding;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: $white-color;
    background-color: $primary-color;
    height: fit-content;
    &:hover {
        background-color: $secondary-color;
    }
}

.btn.exit-btn {
    padding: 15px;
    background-image: url('../assets/img/exit.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    position: absolute;
    top: 20px;
    right: 20px;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }  
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }  
    @keyframes #{$animation-name} {
      @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}